.titlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.543));
    padding-top: -20px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    -webkit-animation:fadeInAnimation ease 2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.titlePage img {
    width: 30%;
    height: auto;
    padding-bottom: 70px;
}

.aboutPage {
    background-color: #fff9f1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

.aboutPage h2 {
    color: #004d90;
    font-weight: bold;
    font-size: 350%;
}

.aboutPage p {
    padding-top: 30px;
    line-height: 2;
    color: #004d90;
    font-weight: 600;
    font-size: 140%;
    padding-bottom: 30px;
}

.aboutPage button {
    background-color: #ffbb6d;
    color: #004d90;
    border: 0;
    padding: 20px 55px;
    font-weight: 800;
    border-radius: 10%;
    font-size: 26px;
}

.aboutPage button:hover {
    background-color: #a86f2e;
    /* Green */
    color: white;
    border: #004d90;
}

.subTitle {
    color: rgb(255, 255, 255);
    font-size: 450%;
    margin: 20px;
    text-align: center;
    line-height: 1;
}

/*    Mobile */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .titlePage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 90%;
        background-size:800px 600px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
    }

    .titlePage img {
        width: 75%;
        height: auto;
        padding-bottom: 30px;
    }

    .subTitle {
        color: rgb(255, 255, 255);
        font-size: 250%;
        margin: 20px;
        text-align: center;
        line-height: 1;
    }

    .aboutPage h2 {
        font-size: 250%;
    }
    
    .aboutPage p {
        padding-top: 10px;
        line-height: 2;
        color: #004d90;
        font-weight: 600;
        font-size: 130%;
        padding-bottom: 30px;
    }
    
    .aboutPage {
        padding: 30px;
    }
    
    

  }