.description {
  white-space: pre-line;
}

.titleVacancyProfile {
  background-color: #2b72b0;
  color: white;
  padding: 40px;
}

.titleVacancyProfile h1 {
  font-size: 45px;
  padding-bottom: 20px;
  color: white;
}

mat-icon {
  margin-top: 4px;
}

.vacancyPoints {
  display: flex;
  justify-items: center;
  flex-direction: row;
}

span {
  padding-left: 20px;
}

.info {
  padding: 40px;
  color: #004d90;
  font-weight: bold;
}

.info p {
font-size: 120%;
  font-weight:700;
}


.info h1 {
  font-size: 40px;
  padding-bottom: 20px;
}
#goBack {
  padding-top: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
} 
#goBack span {
  padding-top: 40px;
  padding-left: 0px;
} 
#goBack a{
  color: white;
} 

.info button {
  background-color: #ffbb6d;
  color: #004d90;
  border: 0;
  padding: 10px 50px;
  font-weight: 800;
  border-radius: 10%;
  font-size: 26px;
}

#jobAppliedSucessful h3{
  font-size: 20px;
  color: green;
  font-weight: 600;
}

#jobAlreadyApplied h3{
  font-size: 20px;
  color: red;
  font-weight: 600;
}