<nav class="navbar">
    <div id="logo">
        <img src="assets/logo.png" height="105" />
    </div>

    <ul class="nav">
        <li *ngIf="!isAdminLogin && !isEmployerLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <li *ngIf="!isApplicantLogin && !isEmployerLogin && !isAdminLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login
      </a>
        </li>
        <li *ngIf="!isAdminLogin && !isEmployerLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a
      >
    </li>
    <li *ngIf="!isAdminLogin && !isEmployerLogin">
      <a class="nav-link" routerLinkActive="active" routerLink="/about"
        >About</a
      >
    </li>

    <li *ngIf="!isAdminLogin && !isEmployerLogin">
      <a class="nav-link" routerLinkActive="active" routerLink="/contactus"
        >Contact Us
      </a>
        </li>

        <li *ngIf="isAdminLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/allApplicants">All Applicants
      </a>
        </li>

        <li *ngIf="isAdminLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/allEmployers">All Employers
      </a>
        </li>

        <li *ngIf="isAdminLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/allAdmins">All Admins
      </a>
        </li>

        <li *ngIf="isAdminLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/postVacancy">Post a Job
      </a>
        </li>

        <li *ngIf="isAdminLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/registerEmployer">Register an Employer
      </a>
        </li>

        <li *ngIf="isAdminLogin">
            <a class="nav-link" routerLinkActive="active" routerLink="/registerAdmin">Register an Admin
      </a>
        </li>

        <li *ngIf="isAdminLogin" class="logout">
            <a class="nav-link" id="admin-logout" routerLinkActive="active" (click)="logout()">Logout {{ adminLoginText }}
      </a>
        </li>
        <li *ngIf="isApplicantLogin" class="logout">
            <a class="nav-link" id="admin-logout" routerLinkActive="active" (click)="logout()">Logout {{ applicantLoginText }}
      </a>
        </li>
        <li *ngIf="isEmployerLogin" class="logout">
            <a class="nav-link" id="admin-logout" routerLinkActive="active" (click)="logout()">Logout {{ employerLoginText }}
      </a>
        </li>
    </ul>
</nav>