<nav class='navbar'>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/'>Home |</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/login'>Login |</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/register'>register |</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/about'>About |</a></li>
        <li><a class='nav-link' routerLinkActive='active' routerLink='/contactus'>Contact Us </a></li>
    </ul>
</nav>