<div class="titleRegister">
    <h2>Contact Us</h2>
    </div>
    <div class="contactus_details">
    <div id="contact_statement">
<p>At LandSeaStaffing Recruitment, we value open communication with our clients and job seekers. Whether you have questions, need assistance, or want to explore opportunities with us, this is the place to start.</p>
<p>Feel free to reach out to us through any of the following means:</p>
    </div>
    <div id="contactInfo">
        <h1>Contact Information:</h1>
<ul>
<p><b>LandSeaStaffing Ltd</b></p>
<p><b>Address:</b> 123 Main Street, Suite 456</p>
<p><b>City:</b> London, USA</p>
<p><b>Telephone:</b> <a href = "tel: (555) 555-5555"> (555) 555-5555</a> </p>
<p><b>Email:</b> <a href = "mailto: info@landseastaffing.com"> info@landseastaffing.com</a> </p>

</ul>
</div>

<div id="operations">
    <h1>Hours of Operation:</h1>
<ul>
<li><b>Monday - Friday: 9:00 AM - 5:00 PM</b></li>
<li><b>Saturday - Sunday: Closed</b></li>

</ul>
    </div>
</div>
    <footer></footer>