<div class="titleRegister">
    <h2>Register Your Details</h2>
</div>
<div id="contactPreference">
    <h2>Data Protection and GDPR Compliance</h2>
    <p>
        At Landsea Staffing, your data privacy is our top priority. We adhere to the strictest data protection standards, including the General Data Protection Regulation (GDPR), to ensure that your personal information is handled with the utmost care and security.
    </p>
    <p>
        By registering with Landsea Staffing, you acknowledge our commitment to data protection and GDPR compliance. Your trust is essential to us, and we're here to ensure your data is handled responsibly and securely.
    </p>
<br>
    <p>
        If you have any questions or concerns regarding your data, please don't hesitate to contact us at <a href="mailto:landseastaff.info@qualityservice.com">landseastaff.info@qualityservice.com </a>. Thank you for choosing Landsea Staffing for your recruitment needs.

        Feel free to use this message on your registration page to communicate your company's commitment to data protection and GDPR compliance to your users.        
    </p>
</div>
<div class="registerContiner">
    <form #registerApplicant="ngForm" (ngSubmit)="onClickSubmit(registerApplicant)" required>
        <div class="registerForm">
            <div *ngIf="validation" style="color: red">
                All detals must be filled required!
            </div>
            <div *ngIf="registerError">
                <p style="color: red">Unsuccessful submission, email address already used!</p>
            </div>
            <div *ngIf="formSuccessful" style="color: green">
                <p>Form has been successfully submitted!</p>
            </div>

            <div class="register-form">
                <p class="registerLabel">Full name:</p>
                <div id="registerNames">
                    <input matInput type="text" id="firstname" name="firstname" placeholder="FirstName" ngModel required />
                    <input matInput type="text" id="lastName" name="lastname" placeholder="LastName" ngModel required style="margin-left: 10px" />
                </div>

                <p class="registerLabel">Email:</p>
                <input matInput type="text" name="email" placeholder="Email" ngModel required />

                <p class="registerLabel">Password:</p>
                <input matInput type="text" name="password" placeholder="Password" ngModel required />

                <p class="registerLabel">City:</p>
                <input matInput type="text" name="city" placeholder="City" ngModel required />

                <p class="registerLabel">Telephone:</p>
                <input matInput type="tel" name="telephone" placeholder="Telephone" ngModel required />

                <div id="uploadCV">
                    <p class="registerLabel">Please upload your CV</p>
                    <input type="file" class="file-upload" (change)="cvFile = $event" />
                </div>
            </div>
        </div>
        <input type="submit" value="submit" />
    </form>
</div>
<footer></footer>