<div class="registerVacancy">
    <h2>Post a Vacancy</h2>
</div>

<form #newVacancy="ngForm" (ngSubmit)="onClickSubmit(newVacancy)" required>
    <div class="vacancyFormsContiner">
        <div *ngIf="validation">All detals must be filled required!</div>
        <div *ngIf="registerError">
            {{ registerErrorLabelText }}
        </div>
        <div *ngIf="formSuccessful">
            <p>Form has been successfully submitted!</p>
        </div>

        <input type="text" id="employerId" name="employerId" placeholder="Employer Id" ngModel required />

        <input type="text" name="title" placeholder="Title of the job" ngModel required />

        <textarea type="text" id="description" name="description" placeholder="Job description..." ngModel required cols="90" rows="10"></textarea>

        <input type="text" id="salary" name="salary" placeholder="Salary" ngModel required />

        <input type="text" id="location" name="location" placeholder="Location of the job" ngModel required />

        <input type="text" id="contract" name="contract" placeholder="Contract" ngModel required />

        <select (change)="onOptionsSelected($event)">
      <option defualt value="">Job Sector</option>
      <option *ngFor="let item of jobSectors">{{ item }}</option>
    </select>

        <input type="submit" value="submit" />
    </div>
</form>