<div class="vacancy-profile" *ngIf="vacancy">
  <div class="titleVacancyProfile">
    <h1 class="profileTitle">{{ vacancy.title }}</h1>
    <h2 class="vacancyPoints">
      <mat-icon> monetization_on</mat-icon>
      <span>{{ vacancy.salary }}</span>
    </h2>
    <h2 class="vacancyPoints">
      <mat-icon> location_city</mat-icon>
      <span>{{ vacancy.location }}</span>
    </h2>
    <h2 class="vacancyPoints">
      <mat-icon> access_time</mat-icon>
      <span>{{ vacancy.contract }}</span>
    </h2>
    <h2 class="vacancyPoints">
      <mat-icon> calendar_today</mat-icon>
      <span>Posted: {{ SetCorrectDate(vacancy.created) }}</span>
    </h2>

    <p id="goBack">
      <a href="/vacancies"> <mat-icon>keyboard_arrow_left</mat-icon> BACK </a>
    </p>
  </div>

  <div class="info">
    <div class="jobDescription">
      <h1>Job Description</h1>
    </div>
    <p>Roles & Responsibilities:</p>
    <p class="description">{{ vacancy.description }}</p>
    <div *ngIf="JobAlreadyApplied">
      <h1>{{ TextAlreadyJobApplied }}</h1>
    </div>
    <div *ngIf="JobAppliedSucessful">
      <h1>{{ TextJobAppliedSucess }}</h1>
    </div>
    <button
      [disabled]="disableButton ? 'disabled' : null"
      (click)="onApplySubmit(vacancy)"
    >
      Send CV
    </button>
  </div>
</div>
