/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a:link {
    text-decoration: none;
}

@import '../node_modules/bootstrap/scss/bootstrap';
.mat-dialog-container {
    background-color: #fff9f1;
    color: #004d90;
}

.mat-typography {
    background-color: #fff9f1;
}