<div class="registerAdminTitle">
    <h2>Register an Admin</h2>
</div>
<div class="registerAdmin">
    <form #registerAdmin="ngForm" (ngSubmit)="onClickSubmit(registerAdmin)" required>
        <div *ngIf="validation">          
            <p style="color: red;">All details must be filled</p>
        </div>
        <div *ngIf="registerError">
          <p style="color: red;">Unsuccessful Submission, please try again!</p>
        </div>
        <div *ngIf="formSuccessful">
            <p style="color: green;">New Admin has been successfully added!</p>
        </div>
        <input type="text" id="email" name="email" placeholder="Email/Username" ngModel required />

        <input type="text" name="password" placeholder="Password" ngModel required />

        <input type="text" id="firstname" name="firstname" placeholder="FirstName" ngModel required />

        <input type="text" id="lastName" name="lastname" placeholder="LastName" ngModel required />

        <input type="submit" value="submit" />
    </form>
</div>