.parentHome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subheading {
    position: absolute;
    color: white;
    width: 85%;
}

.subheading h2 {
    font-size: 5em;
    text-align: center;
}