<h2 style="display: flex; justify-content: center">Applicants Table</h2>
<!-- app.component.html -->
<div class="container text-center">
  <mat-form-field appearance="standard">
    <mat-label>Search Applicant</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. email"
      #input
    />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    #mytable
    class="my-table mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <div class="rows">
      <ng-container matColumnDef="ApplicantID">
        <th mat-header-cell *matHeaderCellDef>ApplicantID</th>
        <td mat-cell *matCellDef="let element">{{ element.applicantID }}</td>
      </ng-container>

      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <ng-container matColumnDef="Telephone">
        <th mat-header-cell *matHeaderCellDef>Telephone</th>
        <td mat-cell *matCellDef="let element">{{ element.telephone }}</td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="Download_CV">
        <th mat-header-cell *matHeaderCellDef>Download CV</th>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            matTooltip="Download_CV"
            class="iconbutton"
            (click)="downloadCV(element.email)"
            color="warn"
          >
            <mat-icon>get_app</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
