<p style="">All Applicants</p>
<!-- app.component.html -->
<div class="container text-center">
    <mat-form-field appearance="standard">
        <mat-label>Search Applicant</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. email" #input />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <div class="rows">
            <ng-container matColumnDef="ApplicantID">
                <th mat-header-cell *matHeaderCellDef>ApplicantID</th>
                <td mat-cell *matCellDef="let element">{{ element.ApplicantID }}</td>
            </ng-container>

            <ng-container matColumnDef="LastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let element">{{ element.LastName }}</td>
            </ng-container>

            <ng-container matColumnDef="FirstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let element">{{ element.FirstName }}</td>
            </ng-container>

            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let element">{{ element.Address }}</td>
            </ng-container>

            <ng-container matColumnDef="City">
                <th mat-header-cell *matHeaderCellDef>City</th>
                <td mat-cell *matCellDef="let element">{{ element.City }}</td>
            </ng-container>

            <ng-container matColumnDef="Postcode">
                <th mat-header-cell *matHeaderCellDef>Postcode</th>
                <td mat-cell *matCellDef="let element">{{ element.Postcode }}</td>
            </ng-container>

            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="delete(element.Email)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
                </mat-cell>
            </ng-container>
        </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>