<div class="socialMediaIcons">
    <a href="https://www.facebook.com/">
        <img [src]="imgFBSrc" (mouseover)="imgFBSrc = 'assets/social_media/facebookActive.png'" (mouseout)="imgFBSrc = 'assets/social_media/facebook.png'" height="35" id="facebook" /></a>
    <a href="https://www.instagram.com/"><img [src]="imgInstaSrc" (mouseover)="imgInstaSrc = 'assets/social_media/instagramActive.png'" (mouseout)="imgInstaSrc = 'assets/social_media/instagram.png'" height="35" id="instagram" /></a>
    <a href="https://www.linkedin.com/"><img [src]="imgLinkSrc" (mouseover)="imgLinkSrc = 'assets/social_media/linkedinActive.png'" (mouseout)="imgLinkSrc = 'assets/social_media/linkedin.png'" height="35" id="linkedin" /></a>
</div>
<div class="footerBar">
    <div id="legal">
        <address>
      © 2022 LandSea Staffing Registered in England and Wales No.
      11754990,Privacy Policy
    </address>
    </div>
</div>