<h2 style="display: flex; justify-content: center">Vacancies Table</h2>
<div class="container text-center">
  <mat-form-field appearance="standard">
    <mat-label>Search Vacancies</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. email"
      #input
    />
  </mat-form-field>
  <table
    mat-table
    [dataSource]="dataSource"
    #mytable
    class="my-table mat-elevation-z8"
  >
    <div class="rows">
      <ng-container matColumnDef="VacancyID">
        <th mat-header-cell *matHeaderCellDef>VacancyID</th>
        <td mat-cell *matCellDef="let element">{{ element.vacancyID }}</td>
      </ng-container>

      <ng-container matColumnDef="EmployerID">
        <th mat-header-cell *matHeaderCellDef>EmployerID</th>
        <td mat-cell *matCellDef="let element">{{ element.employerID }}</td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef>Job Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="Created">
        <th mat-header-cell *matHeaderCellDef>Posted</th>
        <td mat-cell *matCellDef="let element">
          {{ SetCorrectDate(element.created) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Sector">
        <th mat-header-cell *matHeaderCellDef>Sector</th>
        <td mat-cell *matCellDef="let element">{{ element.sector }}</td>
      </ng-container>

      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let element">{{ element.location }}</td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            matTooltip="Click to Delete"
            class="iconbutton"
            (click)="delete(element.vacancyID)"
            color="warn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
